pkgbase = linux-drm-tip-git
	pkgdesc = Linux kernel with bleeding-edge GPU drivers
	pkgver = 6.14.r1336922.f2a2bd676bde
	pkgrel = 1
	url = https://gitlab.freedesktop.org/drm/tip
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = cpio
	makedepends = gettext
	makedepends = git
	makedepends = libelf
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = tar
	makedepends = xz
	options = !debug
	options = !strip
	source = linux-drm-tip-git::git+https://gitlab.freedesktop.org/drm/tip.git#branch=drm-tip
	source = config
	sha256sums = SKIP
	sha256sums = 9a195bc4d8b492b0f44da392689746f605ca946e4f396bbc25fdbffb383899c1
	b2sums = SKIP
	b2sums = eedd98ed226561af9b279b931d5251974ed98cf21fa0974a855dd0365a16d6702f190dc60eca9bb337534110d94d070e7c7bc5cd61ba774ab38d441b567cce6c

pkgname = linux-drm-tip-git
	pkgdesc = The Linux kernel with bleeding-edge GPU drivers kernel and modules
	depends = coreutils
	depends = initramfs
	depends = kmod
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = scx-scheds: to use sched-ext schedulers
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	provides = KSMBD-MODULE
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	replaces = virtualbox-guest-modules-arch
	replaces = wireguard-arch

pkgname = linux-drm-tip-headers-git
	pkgdesc = Headers and scripts for building modules for the Linux kernel with bleeding-edge GPU drivers kernel
	depends = pahole
